* {
  font-family: "Montserrat Alternates", sans-serif;
  font-family: "Quicksand", sans-serif;
  color: #ffffff;
}

.main__header {
  font-size: 2rem;
  color: #ffffff;
}
body {
  background: #000000;
}

.inputs__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inputs__container div {
  display: flex;
  align-items: center;
}

.inputs__container label {
  font-weight: bold;
  margin-right: 10px;
}

.inputs__container input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.inputs__container input[type="number"],
.inputs__container input[type="date"],
.inputs__container input[type="time"] {
  background-color: #0080ff;
  color: #ffffff;
}

#upload__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

#fileItem {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

div {
  margin-top: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

.beta__button {
  color: #000000;
}

.file__input {
  color: transparent;
  width: auto;
  height: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.file__button {
  display: inline-block;
  width: auto;
  height: auto;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: #0080ff;
  color: #ffffff;
}
